.status.inProgress {
	background-color: #E3E3E3;
}

.status.atRisk {
	background-color: #EBBD3F;
}

.status.complete {
	background-color: #A9F5AA;
}

.status.pendingInfo {
	background-color: #9EE1F0;
}

.status.list-group-item a {
	color: inherit;
	text-decoration: none;
}

.status.list-group-item:hover {
	background-color: #3DE9F5;
	box-shadow: 0px 0px 15px #333;
	z-index: 10;
	border-color: transparent;
}

.sent-requests {
	padding: 0px 15px;
	margin-top: 20px;
}

.sent-request {
	box-shadow: 5px 5px 15px #333;
}